.img1{
    height: 70vh;
    margin-bottom: 3rem;
}

.testo{
    margin-bottom: 3rem;
}
.titolo{
    color: var(--blu);
}

h2, h1{
    font-family:'Times New Roman', Times, serif;
}
#titolo{
    top: 20%;
    background-color: #dedede6b;
    width: 100vw;


}
#sfo{

    --bs-gutter-x: 0px;
}
#sfo2{

    --bs-gutter-x: 0px;
}
#btnIt{
    color: white!important;
}
#btnIt:hover{
    color: var(--giallo)!important;
}
@media only screen and (max-width: 767px) {
    .descCitt{
        display: none;
    }
    .nomeCitt{
        display:block;
    }
}
@media only screen and (max-width: 980px) {
    .descCitt{
        display: none;
    }
    .nomeCitt{
        display:block;
    }

}