.img1{
    height: 80vh;
    width: 90vw;
    margin-bottom: 3rem;
}
.img2{
    height: 70vh;
    width: 45vw;
    margin-bottom: 3rem;
}
.testo{
    margin-bottom: 3rem;
}
.titolo{
    color: var(--blu);
}