:root {
    --blu: #093E77;
  }
:root {
    --sfondo: #dedede;
  }
:root {
    --giallo: rgb(98%, 69%, 2%);
  }
  
:root {
    --blu-chiaro:rgb(16%, 50%, 73%) ;
  }
  h3, h2, h1{
    font-family:'Times New Roman', Times, serif
}
strong{
  color: var(--giallo);
}
.caroselloImg{
  height: 100vh;
}
.btnIti{
  color:white !important;
}
.btnIti:hover{
  color: var(--giallo)!important;
}

  .backBlu{
      background-color: var(--blu) !important;
  }
  .blu{
      color:var(--blu) !important;
  }
  .backGiallo{
    background-color: var(--giallo) !important;
  }
  .giallo{
    color: var(--giallo) !important;
  }
  .backBluChiaro{
    background-color: var(--blu-chiaro) !important;
  }
  .bluChiaro{
    color: var(--blu-chiaro) !important;
  }
  .activeCourrent{
    color: var(--giallo)!important;
  }
  body{
    background-color: var(--sfondo);
  }
  #bordoBott{
    border-color:  var(--giallo);
    background-color: var(--giallo);
  }
  .el-nav:hover{
    color: var(--giallo) !important;
  }
.logo{
    height: 10vh;
}
.cambioCol:hover{
  color: var(--giallo) !important;
}

/* style per la searchbar e il carosello*/
.btn {
  background-color: var(--blu-chiaro); 
  color: var(--giallo) ; 
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #ffffff; 
 }
.accImg{
  height: 30vh;
  width: 50vw;
}
#imgRim:focus{
  background-image: url(media/RomaIti7.jpg);
}
#imgRim2:hover{
  display: block;
}

h2, h4 {color: var(--blu) !important;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btnsearch:hover{
  color: var(--giallo) !important;
}
.search-bar {
  width: 50%; 
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px; 
  position: absolute;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.search-bar:focus {outline: none;border-color: #28a745;}

/*fine style carosello/searchbar*/


@media only screen and (max-width: 767px) {

  #searchCon{
    width: 75% !important;
    margin-right: 13rem;
  }
  }
  .btnDest:hover{
    color: var(--giallo) !important;
    }
    .btnDest{
        color:white !important;
    }

   /*card*/

	.flipy {
  -webkit-perspective: 800;
   width: 100%;
   height: 240px;
    position: relative;
    border: 1px solid #ccc;
}
.flipy .card:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.flipy .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flipy .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flipy .card .front {
  position: absolute;
  z-index: 1;
    background: #f8f8f8;
    color: white;
    cursor: pointer;
}
.flipy .card .back {
	-webkit-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	background: blue;
	background: #f8f8f8;
	color: black;
	cursor: pointer;
}

/*promo*/

