:root {
    --blu: #093E77;
  }
:root {
    --sfondo: #dedede;
  }
:root {
    --giallo: rgb(98%, 69%, 2%);
  }
  
:root {
    --blu-chiaro:rgb(16%, 50%, 73%) ;
  }
  .backBlu{
      background-color: var(--blu) !important;
  }
  .blu{
      color:var(--blu) !important;
  }
  .backGiallo{
    background-color: var(--giallo) !important;
  }
  .giallo{
    color: var(--giallo) !important;
  }
  .backBluChiaro{
    background-color: var(--blu-chiaro) !important;
  }
  .bluChiaro{
    color: var(--blu-chiaro) !important;
  }
  body{
    background-color: var(--sfondo);
  }
  #bordoBott{
    border-color:  var(--giallo);
    background-color: var(--giallo);
  }
  .el-nav:hover{
    color: var(--giallo) !important;
  }
.logo{
    height: 10vh;
}
